<%= form_for :session, url: session_path do |form| %>
  <div class="mt-4 grid gap-4">
    <div class="flex flex-col">
      <%= form.label :email, class: "font-semibold text-gray-800" %>
      <%= form.email_field :email, class: "w-full mt-2 px-4 py-1 bg-gray-200 rounded focus:bg-white focus:shadow-outline"%>
    </div>

    <div class="flex flex-col">
      <%= form.label :password, class: "font-semibold text-gray-800" %>
      <%= form.password_field :password, class: "w-full mt-2 px-4 py-1 bg-gray-200 rounded focus:bg-white focus:shadow-outline"%>
    </div>


    <div class="flex justify-between items-center mt-6">
      <%= form.submit class: "px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-800 hover:cursor-pointer" %>

      <div class="other-links">
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t(".sign_up"), sign_up_path, class: "hover:underline" %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
