<%= form_for recipe do |form| %>
  <div>
    <ul class="text-red-700">
      <% recipe.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>

  <div class="mt-4 grid gap-4">
    <div class="flex flex-col">
      <%= form.label :name, class: "font-semibold text-gray-800" %>
      <%= form.text_field :name, class: "w-full mt-2 px-4 py-1 bg-gray-200 rounded focus:bg-white focus:shadow-outline"%>
    </div>

    <div class="flex flex-col">
      <%= form.label :url, class: "font-bold text-gray-800" %>
      <%= form.text_field :url, class: "w-full mt-2 px-4 py-1 bg-gray-200 rounded focus:bg-white focus:shadow-outline"%>
    </div>

    <div class="flex flex-col">
      <%= form.label :image_url, class: "font-bold text-gray-800" %>
      <%= form.text_field :image_url, class: "w-full mt-2 px-4 py-1 bg-gray-200 rounded focus:bg-white focus:shadow-outline"%>
    </div>

    <div class="flex flex-col">
      <%= form.label :tag_list, class: "font-bold text-gray-800" %>
      <%= form.text_field :tag_list, class: "w-full mt-2 px-4 py-1 bg-gray-200 rounded focus:bg-white focus:shadow-outline"%>
    </div>
  </div>

  <div class="flex justify-between items-center mt-6">
    <%= form.submit class: "px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-800 hover:cursor-pointer" %>

    <%= link_to "Back", root_path, class: "hover:underline" %>
  </div>
<% end %>
