<div class="flex w-full max-w-screen-lg px-4 mx-auto">
  <div class="mt-4 w-1/5">
    <h1 class="text-lg text-gray-800 font-semibold">My Recipes</h1>

    <div class="mt-4">
      <h2 class="text-sm tracking-wide font-bold uppercase text-gray-600">Tags</h2>

      <div class="mt-2 pr-4">
        <%= all_filter_tag %>

        <% @tags.each do |tag| %>
          <%= filter_tag tag %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-4 w-4/5">
    <div class="flex items-center space-x-4 w-full">
      <%= render "recipes/search" %>
      <%= link_to "New Recipe", new_recipe_path, class: "flex-shrink-0 px-4 py-2 text-gray-700 font-semibold tracking-wide border-2 border-gray-700 hover:bg-gray-700 hover:text-white rounded" %>
    </div>

    <%= render "recipes/filtered_by" %>

    <div class="divide-y mt-6 px-4 py-2 rounded shadow bg-white">
      <%= render @recipes %>

      <%= paginate @recipes %>
    </div>
  </div>
</div>
