<h1>Recipes</h1>

<%= link_to "New Recipe", new_recipe_path %>

<%= form_tag root_path, method: :get, id: "search" do %>
  <%= text_field_tag "tag", params[:tag], hidden: true, disabled: params[:tag].nil? %>
  <%= text_field_tag "name" %>
  <%= submit_tag "Search" %>
<% end %>

<div id="tags">
  <div>
    <%= link_to root_path do %>
      all (<%= current_user.recipes.count %>)
    <% end %>
  </div>
  <%= render partial: "tag", collection: @tags, as: :tag %>
</div>

<div>
  <%= render @recipes %>

  <%= paginate @recipes %>
</div>
