
<%= link_to "New Recipe", new_recipe_path %>

<div class="flex w-full max-w-screen-lg mx-auto">
  <div class="w-1/5">
    <h1 class="text-lg text-gray-800 font-semibold">My Recipes</h1>

    <div class="mt-4">
      <h2 class="text-sm tracking-wide font-bold uppercase text-gray-600">Tags</h2>

      <div class="mt-2 pr-4">
        <%= all_filter_tag %>

        <% @tags.each do |tag| %>
          <%= filter_tag tag %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="w-4/5">
    <%= render "recipes/search" %>

    <%= render "recipes/filtered_by" %>

    <div class="divide-y mt-6 px-4 py-2 rounded shadow bg-white">
      <%= render @recipes %>

      <%= paginate @recipes %>
    </div>
  </div>
</div>
