<h1>New Recipe</h1>

<%= form_for @recipe do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :image_url, "Image Url" %>
    <%= form.text_field :image_url %>
  </div>

  <div>
    <%= form.label :tag_list, "Tags" %>
    <%= form.text_field :tag_list %>
  </div>

  <%= form.submit "Create" %>
<% end %>
